.store{
  width: 100%;
  margin: 45.6px 0%;
  width: 100%;
}
.main{
  height: calc(100vh - 91.2px);
  overflow: auto;
}
/*顶部条*/
.head .left_c2{
      width: 25%;
      font-size: 12px;
      color: #CCCCCC;
}
.head .center_c2{
      width: 61%;
}
.head .center_c2 .searchbox{
      padding-left: 6px;
      text-align: left;
      line-height: 31px;
      background: #484848;
      border: 1px;
      color: #EFEFEF;
      height: 32px;
      margin-top: 6.8px;
      box-sizing: border-box;
      border-radius: 20px;
      font-size: 12px;
}
.head .right_c2{
      width: 14%;
}
/*轮播图*/
.store .swipe .mint-swipe-items-wrap{
      padding-bottom: 40%;
}
.swipe img{
      width: 100%;
}
/* 菜单 */
.menu{
    overflow: hidden;
}
.menu li{
    width: 25%;
    float: left;
    text-align: center;
    font-size: 11px;
    color: #666;
} 
.menu img{
    width: 46%;
    margin: 13% 27% 6%;
}

/* 头条 */
.news{
    width: 100%;
    overflow: hidden;
    margin-top: 2%;
    border-top: 1px solid #EFEFEF;
    border-bottom: 1.5vh solid #EFEFEF;
}
.news img{
    width: 13%;
    margin: 3%;
    float: left;
}
.news span{
  float: left;
  width: 80%;
  /* 以下几行代码，超出文字出现... */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  /* 行数 */
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  line-height: 60px;
}
/* 促销 */
.promotionWindow{
  width: 100%;
  overflow: auto;
}
.promotion ul{
  border-bottom: 1.5vh solid #EFEFEF;
  width: 300%;
  overflow: hidden;
  padding-bottom: 18px;
}
.promotion h1{
  font-weight: bolder;
  margin: 18px;
}
.promotion li{
  float: left;
  width: 20%;
  padding: 0px 15px;
  box-sizing: border-box;
}
.promotion li img{
  width: 100%;
}
.pricetiltle{
  width: 100%;
}

.gtiltle{
  font-size: 13px;
  width: 80%;
  margin-left: 5px;
  margin-bottom: 5px;
}
.pricecontent{
  width: 100%;
}
.nowprice{
  color: #ff5722;
  font-size: 15px;
  font-weight: bold;
}
.discount{
  border-radius: 2px;
  padding: 1px 3px;
  color: #FFF;
  background: #FF5722;
  font-size: 10px;
  margin: 3px 5px;
}

.oldprice{
  font-size: 11px;
  margin: 3px 5px;
  color: #CCC;
  text-decoration: line-through;
}
.label{
  color: white;
  padding: 1px 2px;
  font-size: 10px;
  border-radius: 2px;
  margin-right: 3px;
  text-align: center;
  float: left;
  margin-top: 5px;
}
.dc{
  background: #FF5722;
}
.site{
  background: #106DDE;
}
.gtype{
  color: #666;
  background: #EFEFEF;
  width: 21px;
  overflow:hidden;
  
}
/* 列表 */
.gameslist>li>ul{
  width: calc(100% - 30px);
  float: left;
  padding: 15px;
  border-top: 1px solid #efefef;
}
.gameslist>li>ul>li{
  overflow: hidden;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #efefef;
}
.gameslist>li>ul>li img {
  float: left;
}
.gameslist>li>ul>li>a>div {
  float: right;
  width: 55%;
  height: 30px;
}
.gameslist .title{
  float: left;
  width: 20%;
  text-align: center;
  font-size: 14px;
  height: 50px;
}
.gameslist button{
  height: 50px;
}
button.current{
  color:#FF5722;
  border-bottom: 2px solid #FF5722;
}
.white{
  border:1px  solid #FF5722;
  background: white;
  color: #FF5722;
}
